
.brief-card {
    height: 100%; 
    width:300px;
    border-radius:20px 0px 0px 20px;
    background-color: var(--background-color-left-card);
}

.brief-card .avatar {
    border-radius: 50%;
    background: var(--border-avatar);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.brief-card h3{
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.brief-card h4{
    font-size: 19px;
    font-weight: 500;
    color: var(--text-color);
}

.brief-card .avatar img {
    width: 150px;
    height: 150px;
    padding:8px;
    border-radius: 50%; 
    border: 5px solid var(--border-img-color);
}

.brief-card .myname {
    text-align: center;
}

.icons a{
    background-color: #202327;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    margin: 5px;
}

.icons a:hover{
    transform: translate(-2px,-2px);
    box-shadow: var(--shadow-2);
    background-color: #2c3035;
}
.icons .icon-fb{
    margin-left: -12px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    padding: 8px 8px 8px 15px;
    border-radius: 10px;
    color: gray;
}

.icons .icon-insta, .icon-github{
    margin-left: -12px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    padding: 8px 8px 8px 12px;
    border-radius: 10px;
    color: gray;
}

.icons i:hover{
    color: white;
}

/* Mobile responsive */
@media only screen and (max-width: 699px) {
    * {
        --image-radius: 45vw;
    }
    .brief-card{
        width: 100vw !important;
        height: 100vh !important;
        border-radius: 0px !important;
        box-shadow: transparent !important;
        background: var(--background-color-2) !important;
    }

    .brief-card h3 {
        font-size: 32px;
    }

    .brief-card h4 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 599px){
    * {
        --image-radius: 50vw;
    }
    .brief-card .avatar img {
        width: 200px;
        height: 200px;
    }

    .brief-card h3 {
        font-size: 40px;
    }

    .brief-card h4 {
        font-size: 25px;
    }
}

@media only screen and (min-width:600px) and (max-width: 700px) {
    .brief-card .avatar img {
        width: 250px;
        height: 250px;
    }

    .brief-card h3 {
        font-size: 50px;
    }

    .brief-card h4 {
        font-size: 35px;
    }
}

@media only screen and (min-width: 701px) {

    .brief-card .avatar img {
        width: 150px;
        height: 150px;
    }

    .brief-card h3 {
        font-size: 30px;
    }

    .brief-card h4 {
        font-size: 20px;
    }

}
